@import 'variables';

.landing {
  font-size: $body-font-size;
  background-color: $landing-gl-gray-50;

  nav {
    @media (min-width: $bp-md) {
      height: $header-height;
    }
  }

  h1 {
    font-size: 1.5rem;
    @media (min-width: $bp-md) {
      font-size: 2.25rem;
      margin-bottom: 0.75rem;
    }
  }

  img {
    display: inline;
  }

  // Tabs
  .gl-tabs {
    border-bottom: 0;
  }
  .gl-tabs-nav {
    justify-content: space-between;
    align-items: flex-start;

    .gl-tab-nav-item {
      font-size: 1.5625rem;
      line-height: 125%;
      letter-spacing: -0.01563rem;
      color: $gds-gray-900;
      position: relative;
      top: 4px;
      padding: 1rem 0.75rem 1.25rem;
    }

    .gl-tab-nav-item-active,
    .gl-tab-nav-item-active:active,
    .gl-tab-nav-item-active:focus,
    .gl-tab-nav-item-active:focus:active {
      color: $theme-indigo-900;
      font-weight: 600;
      box-shadow: inset 0 -4px 0 0 $theme-indigo-500;
    }
    .gl-tab-nav-item-active:focus-visible {
      box-shadow: 0 0 0 1px $gds-white, 0 0 0 3px $blue-400;
    }
    .gl-tab-nav-item:hover:not(.gl-tab-nav-item-active) {
      box-shadow: inset 0 -4px 0 0 $landing-tabs-hover;
    }
  }
  .gl-tab-content {
    padding: 0;
  }
  .gl-tabs-nav {
    border-width: 0 0 4px;
  }

  // Accordions
  .gl-accordion-item {
    margin-bottom: 0.55rem;
    .gl-button-text {
      position: relative;
      left: -1.5rem;
    }

    .collapse {
      margin-left: 0;
      border-bottom: 1px solid $theme-indigo-100;
    }
  }
  .gl-accordion-item-header {
    border-bottom: 1px solid $theme-indigo-100;
    padding-bottom: 0.55rem;

    // Chevrons
    button {
      justify-content: left;
      width: 100%;
      &:hover,
      &:active,
      &:focus {
        text-decoration: none !important;
      }
      .gl-button-text {
        color: $theme-indigo-900;
        font-size: 1.125rem;
      }
    }
    svg.gl-button-icon {
      fill: $theme-indigo-500;
      position: relative;
      left: 95%;
      transform: rotate(90deg);
      height: 20px;
      width: 20px;
    }
    button.not-collapsed {
      font-weight: 600;
      svg.gl-button-icon {
        transform: rotate(180deg);
      }
    }
  }

  // Cards
  .card {
    box-shadow: 0 0.5rem 1.5rem -0.75rem $landing-gl-blue-1000;
    border-radius: 0.25rem;
    transition: all 0.5s;

    &.transparent {
      box-shadow: none;
      background-color: transparent;
    }

    .card-title {
      color: $gds-purple-900;
    }

    .card-link {
      text-decoration: none;
      position: relative;

      &:hover {
        text-decoration: underline;
      }
    }

    &:hover {
      box-shadow: 0.1rem 0.5rem 2rem 0 $landing-gl-blue-1000;
    }
  }

  /**
   * PAGE SECTIONS
   */
  .search-hero {
    background-color: $purple-900;

    @media (min-width: $bp-md) {
      height: 15.25rem;
      background-repeat: no-repeat;
      background-position: 95% -1rem;
      padding: 1.5rem 0 1rem;
      background-image: url("/assets/images/search-hero-bg.svg");
    }

    h1 {
      font-weight: 600;
    }

    .quick-links {
      @media (min-width: $bp-md) {
        padding-bottom: 0;
      }
    }
    .quick-links a {
      font-size: 0.875rem;
      @media (min-width: $bp-md) {
        font-size: 1rem;
      }
  
      /* Animate underline hover style */
      background: linear-gradient(
        to right,
        $color-tanuki-light,
        $color-tanuki-light
        ),
        linear-gradient(
          to right,
          $red-400,
          $purple-400,
          $blue-400
      );
      background-size: 100% 1px, 0 1px;
      background-position: 100% 100%, 0 100%;
      background-repeat: no-repeat;
      transition: background-size 400ms;

      &:hover {
        text-decoration: none;
        color: $gds-white;
        background-size: 0 1px, 100% 1px;
      }
    }

    /* Search form and results */
    .search-form,
    .gs-wrapper,
    .js-google-search-form {
      position: relative;
    }
    .js-google-search-form {
      top: 0.25rem;
    }

    .js-google-search-form,
    .search-form,
    .gs-wrapper,
    .gs-results {
      width: 100%;
      @media (min-width: $bp-md) {
        width: 28rem;
      }
      @media (min-width: $bp-lg) {
        width: 46rem;
      }
    }

    // Larger search box
    @media (min-width: $bp-lg) {
      .gl-search-box-by-type-input-borderless,
      .gl-search-box-by-type-input-borderless.gl-form-input {
        padding: 0.75rem 4rem 0.75rem 2rem;
        border-radius: 0.25rem;
        font-size: 1rem;
      }
      .gs-wrapper kbd {
        @media (min-width: $bp-md) {
          top: 0.5rem;
          right: 0.6rem;
          font-size: 0.75rem;
          padding: 0.3rem 0.6rem;
        }
      }
    }

    .gl-search-box-by-type-input {
      height: auto;
      &:focus {
        box-shadow: inset 0 0 0 1px $landing-gl-form-border, 0 0 0 1px #fff, 0 0 0 3px $blue-400;
      }
    }
    .gs-results {
      border: 1px solid $landing-gl-form-border;
      border-width: 0 1px 1px;
      font-size: 0.9rem;
    }
    // Lunr.js
    .gl-search-box-by-click.input-group>.input-group-append {
      background-color: transparent;
    }
  }

  .site-sections {
    background: $gds-white url("/assets/images/gradient.svg");
    background-position-y: bottom;
    background-repeat: repeat-x;

    @media screen and (min-width: 990px) {
      padding: 2.5rem 0;
    }

    h3
    a {
      color: $theme-indigo-700;
    }

    // Article grid
    .site-section-inner {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1rem;

      @media screen and (min-width: 990px) {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1.88rem 2rem;
        padding: 2rem 0 0;
      }

      @media screen and (min-width: 990px) {
        h3 {
          font-weight: 600;
          font-size: 1.25rem;
          line-height: 125%;
        }
        a {
          background: url("/assets/images/chevron-lg-right.svg") no-repeat center right;
          padding-right: 1.56rem;
        }
        p {
          margin-top: 0.5rem;
        }
      }
    }

    .secondary-sections {
      @media screen and (max-width: 989px) {
        padding: 0.75rem 0;
        line-height: 1.25rem;

        h3 {
          font-size: 1.25rem;
          font-weight: 500;
        }
      }

      a {
        color: $theme-indigo-700;
        font-size: 0.875rem;
      }

      @media screen and (min-width: 990px) {
        border-top: 1px solid $theme-indigo-100;
        margin-top: 3.5rem;
        padding-top: 3.5rem;
        h3 {
          font-weight: 600;
        }
      }

      ul {
        @media screen and (max-width: 989px) {
          display: block;
        }
        grid-gap: 0.5rem 1.88rem;
      }
    }
  }

  section.self-managed {
    h2 {
      font-weight: 600;
      color: $theme-indigo-900;
      font-size: 2.25rem;
    }

    a {
      color: $landing-gl-purple-500;
      text-decoration: underline;

      &:hover {
        color: $landing-gl-purple-500;
      }
    }

    .card-large {
      border: 0;
      padding: 2rem;

      .card-title {
        font-weight: 500;
        font-size: 1.75rem;
        line-height: 2.125rem;
        color: $gds-purple-900;
      }

      .card-img-top {
        width: 80px;
        height: 80px;
      }

      .card-text {
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        line-height: 1.5rem;
        color: $landing-gl-gray-600;
      }

      a {
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        line-height: 1.5rem;
        color: $landing-gl-purple-500;
      }
    }

    .transparent {

      .card-title {
        font-style: normal;
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.25rem;
        color: $landing-gl-purple-500;
        white-space: nowrap;
      }

      .card-text {
        font-style: normal;
        font-weight: normal;
        font-size: 0.875rem;
        line-height: 1.25rem;
        color: $landing-gl-gray-500;
      }
    }

    .options {
      font-weight: 500;
      font-size: 1.125rem;
      line-height: 1.375rem;

      p {
        color: $landing-gl-gray-600;
      }
    }

    .related {
      font-style: normal;
      font-size: 1rem;
      line-height: 1.5rem;

      p {
        color: $landing-gl-gray-600;
      }

      a {
        color: $landing-gl-purple-500;
      }
    }
  }

  .reference {
    background: radial-gradient(75.78% 75.78% at 50% 1.83%, $landing-gl-black-100 0%, $landing-gl-black-0 100%), $landing-gl-indigo-950;
    padding: 0 10rem;

    @media (max-width: $bp-md) {
      padding: 0 15px;
    }

    h2 {
      font-style: normal;
      font-weight: 500;
      font-size: 2.5rem;
      line-height: 3.063rem;
      color: $gds-white;
    }

    p {
      color: $landing-gl-purple-100;
    }

    .title {
      font-weight: 600;
      font-size: 2rem;
    }

    .sub-title {
      font-size: 1.25rem;
    }

    .circle {
      background-color: $landing-gl-blue-600;
      height: 9.25rem;
      width: 9.25rem;
      transition: all 0.5s;

      &:hover {
        box-shadow: 0.1rem 0.5rem 2rem 0 $landing-gl-white-500;
      }
    }
  }

  .support {
    background: linear-gradient(180deg, $gds-white 0%, $landing-gl-white-500 100%);
    background-image: url('/assets/images/support-bg.svg'), linear-gradient(180deg, $gds-white 0%, $landing-gl-white-500 100%);
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-position: 50% 60%;

    @media (max-width: $bp-md) {
      background-image: url('/assets/images/hero-bg-mobile.svg');
    }

    .card {
      width: 65%;
      box-shadow: 0 0 0.125rem $landing-gl-black-50, 0 0.5rem 1.5rem $landing-gl-blue-950;
      border-radius: 0.25rem;

      @media (max-width: $bp-md) {
        width: 100%;
      }
    }

    h2 {
      font-weight: 500;
      font-size: 2.5rem;
      line-height: 3.063rem;
    }

    p {
      font-size: 1.125rem;
      line-height: 1.313rem;
      text-align: center;
      color: $landing-gl-gray-600;
    }

    .btn-outline-primary {
      transition: .3s all;
      border-color: $landing-gl-purple-500;
      color: $landing-gl-purple-500;

      &:hover {
        color: $gds-white;
        background-color: $landing-gl-purple-500;
      }
    }
  }

  // Footer
  .landing-footer {
    height: 3rem;
    background-color: $landing-gl-purple-550;

    @media (max-width: $bp-xl) {
      height: auto;
      padding: 1rem 0;
    }

    ul {
      list-style: none;
    }

    a,
    .ot-sdk-show-settings {
      font-style: normal;
      font-weight: normal;
      text-align: center;
      font-size: 0.875rem !important;
      line-height: 1rem !important;
      color: $gds-white !important;

      &:hover {
        color: $gds-white;
        text-decoration: underline;
      }

      @media (max-width: $bp-xl) {
        display: block;
        text-align: left;
        margin: 0.5rem 0;
      }
    }

    a:not(:nth-last-child(-n + 2)),
    .ot-sdk-show-settings {
      @media (min-width: $bp-xl) {
        &::after {
          content: '\2022'; // bullet
          margin: 0 0.5rem;
          display: inline-block;
          /* stylelint-disable max-nesting-depth */
          &:hover {
            text-decoration: none;
          }
          /* stylelint-enable max-nesting-depth */
        }
      }
    }
  }
}
